* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: mediumslateblue;
    color: white;
}
section {
   
    max-width: 500px;
   
}
h1 {
text-align: center;
font-size: 40px;
margin-bottom: 50px;
}

.inputSection {
margin-bottom: 50px;
}

.inputData, .btn{
    margin-right: 10px;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
    outline: none;
    
}

.btn {
    color: rgb(255, 200, 0);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}
.btn:hover{
    color: white;
    background: rgb(255, 200, 0);
}
.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}


.list-item {
    list-style: inside decimal;
}

.liStyle {
    font-size: 25px;
    outline: none;   
}
.liStyle::marker {
    color: rgb(255, 200, 0);
}
